* {
    margin:0;
    padding:0;
    border:0;
}

header {
    background-color: lightpink;
    margin-bottom: 1em;
    text-align: center;
}

form {
    background-color:bisque;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
}

form section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1em;
}

form label {
    margin-right: 1em;
    width: 30%;
    text-align: right;
}

form input {
    padding: 1em;
}

textarea {
    resize: none;
    padding: 0.5em;
}

#texto {
    width: 50%;
    background-color: rgb(202, 250, 202);
    padding: 1em;
}